<!DOCTYPE html>
<html>
  <head>
    <%-include('./partials/header')%>
    <%-include('./partials/navbar', {user:user})%>
  </head>
  <body>
    <h1>Hello <%= locals.user ? user.username + '!' : ' guest!' %></h1>
    <p>Viewcount: <%= viewCount%></p>
  </body>
</html>
