<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/header')%>
    <%-include('./partials/navbar', {...(locals.user && {user:user})})%>
  </head>
  <body>
    <div style='text-align: center;'>
        <h1>Create Post</h1>
        <form action="" method="POST">
            <label for="message">Message</label>
            <br>
            <br>
            <textarea name="message" rows="4" cols="50"  id="message" type="text"></textarea>
            <br>
            <br>
            <button class="create-button">Post</button>
        </form>
    </div>
  </body>
</html>

<style>
  .create-button{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  textarea{
    background-color: black;
    color: white;
  }
</style>