<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/header')%>
    <%-include('./partials/navbar', {...(locals.user && {user:user})})%>
  </head>
  <body>
    <div style='text-align: center;'>
        <h1>Create Post</h1>
        <form action="" method="POST">
            <label for="message">Message</label>
            <br>
            <br>
            <textarea name="message" rows="4" cols="50" placeholder="message" id="message" type="text"></textarea>
            <br>
            <br>
            <button>Post</button>
        </form>
    </div>
  </body>
</html>
