@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
body {
    background-color: rgb(29, 30, 32);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #00b7ff;
}
